includes:
	# Regenerate with `make phpstan-baseline`
	# Generate in container so you have the same version of PHP, otherwise you may
	# get different errors.
	- phpstan-baseline.php

parameters:
	level: 9
	paths:
		- Layout/
		- Component/
		- Atom/
		- Lists/
		- Utility/
	scanDirectories:
		- vendor/drupal/pinto
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- identifier: classConstant.notFound
	stubFiles:
		- .phpstan/stubs/Drupal.stub
